@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "mediaQueries";

$primary-color: white;

* {
  font-family: "Quicksand", sans-serif;
}

body {
  background-image: linear-gradient(90deg, #ff6d00, #9d4edd);
}

.footer a {
  text-decoration: none;
  color: $primary-color;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.main {
  display: block;
  background: rgba(0, 0, 0, 0.4);
  max-width: 75vw;
  margin: 10vh auto 30px auto;
  padding: 50px;
  border-radius: 14px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);

  .content {
    color: $primary-color;
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    .text {
      display: block;
      margin: 10vh auto 0 auto;
      padding: 20px;

      p {
        margin-top: 25px;
        font-size: 20px;
        line-height: 25px;
      }
    }
  }

  .image {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    img {
      max-width: 290px;
      border-radius: 14px;
    }
  }

  .footer {
    display: flex;
    font-size: 30px;
    gap: 30px;
    margin-left: 20px;
  }
}

@media (max-width: 1024px) {
  .main {
    max-width: 786px;
  }
  .text {
    text-align: center;
  }
  .footer {
    justify-content: center;
  }
}
@media (max-width: 786px) {
  .main {
    max-width: 640px;
  }
}

@media (max-width: 430px) {
  .main {
    max-width: 100%;
  }
  .image {
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .image img {
    max-width: 50px;
  }
}
